*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:linear-gradient(135deg,#050505,#0d1117,#111827);
    color:white;
    min-height:100vh;
}

header{
    text-align:center;
    padding:100px 20px;
}

h1{
    font-size:80px;
    letter-spacing:8px;
    margin-bottom:20px;
}

h2{
    margin-bottom:20px;
}

header p{
    font-size:24px;
    opacity:.9;
}

section{
    max-width:1000px;
    margin:30px auto;
    padding:30px;
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(10px);
    border-radius:20px;
    border:1px solid rgba(255,255,255,0.1);
}

ul{
    margin-left:25px;
}

li{
    margin:10px 0;
}

.socials{
    margin-top:30px;
}

.socials a{
    display:inline-block;
    padding:15px 25px;
    margin:10px;
    text-decoration:none;
    color:white;
    border:1px solid white;
    border-radius:12px;
    transition:0.3s;
}

.socials a:hover{
    transform:translateY(-3px);
    background:white;
    color:black;
}